body {
	align-content: center;
}
.border {
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
	border: 20px solid #bdc3c7;
	padding: 25px;
}
.date {
	color: #3498db;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}
.title {
	color: #2c3e50;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2.0rem;
}
.border-left{
		border-left: 3px solid lightgray;
		padding-left: 10px;
}
.paragraph {
	padding-left: 4px;
	font-family: 'Source Sans Pro', sans-serif;
}